<div class="wrapper">
  <nav class="navbar navbar-default">
      <div class="navbar-header" id="login-navbar-header">
        <a class="navbar-brand" href="/">
          <div id="logo">
            <h2 id="logo-txt">FF</h2>
          </div>
        </a>
        <h1>Welcome to Friend Forum</h1>
      </div>
  </nav>

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1>Andrew Apicello</h1>
      <h4>Email: andrew.apicello@gmail.com</h4>
            <h4>Find me on <a href="https://github.com/andrew-apicello">Github</a></h4>
    </div>
    <br>
    <div class="col-md-5">
      <h1>Ben Danis</h1>
      <h4>Email: super.bd96@gmail.com</h4>
            <h4>Find me on <a href="https://github.com/benjaminDanis">Github</a></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h1>Kaitlyn Folsom</h1>
      <h4>Email: kaitlynmfolsom@gmail.com</h4>
      <h4>Find me on <a href="https://github.com/Jewel0106">Github</a></h4>
    </div>
    <br>
    <div class="col-md-5">
      <h1>Alexander Paulino</h1>
      <h4>Email: apaulino127@gmail.com</h4>
            <h4>Find me on <a href="https://github.com/alexanderpaulino">Github</a></h4>
    </div>
  </div>
</div>

    <div class="push"></div>

</div> {{!-- End Wrapper --}}

    <footer>
        Friend Forum &copy; 2017
    </footer>

<script type="text/javascript" src="js/login.js"></script>