body{
  background-color: #eaece5;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto 100px;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  clear: both;
}

/* ====================NAVBAR=====================*/

.navbar{
  background-color: #b2c2bf;
  padding: 15px 0 0 50px;
  border-bottom: solid #3b3a30 5px;
}

#loginButton {
  right: 2%;
  bottom: 0;
}

.member-name{
  font-size:25px;
}

#submit-btn{
  margin: 0 25px 0 5px;
}

#logout-btn{
  color: #3b3a30;
  font-size: 20px;
}

/* ============== User Signup Page ===============*/

#select:invalid {
  color: #C8C8C8;
}

#interest1-input,
#interest3-input{
  width: 49%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

#interest2-input,
#interest4-input{
  float: right;
  width: 49%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

#location-input{
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

/* ============== User info section ===============*/
.panel{
  background:#b2c2bf;
  padding: 0 0 20px 20px;
}

.panel h1{
  margin-bottom: 20px;
}

#name-header{
  font-size:40px;
  font-weight:500;
  margin-bottom: 40px;
}


#profile-img{
  width:250px;
  height: 250px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

/* ===============INTEREST BUTTONS===================*/

.interests,
.interests button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.interests button {
  width: 150px;
  height: 150px;
  padding: 10px;
  background: #3b3a30;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.interests button:hover { 
    background: #847567; 
}

.interests button:focus { 
  outline: none; 
}

.interests{
  width:80%;
}

/* ========HIDE/SHOW PANEL ========*/

#toggle-panel {
    padding: 30px;
    display: none;
    margin-bottom: 2%;
}

/*======= CHATBOX ======*/
#chatBox {
  float: none;
  font: 13px;
  font-family: Helvetica, Arial;
  background: white;
  padding: 0;
  height: 300px;
  max-height: 300px;
  width: 60%;
  display: none;
  margin: 2% auto;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

#chatBox form {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top-color: black;
  border-top-style: solid;
  border-top-width: 2px;
}

#chatBox form input { 
  border: 0; 
  padding: 10px; 
  width: 90%;
}

#chatBox form button { 
  width: 10%; 
  color: black;
  background: gray;
  border-top-style: none;
  border-left-color: black;
  border-left-width: 2px;
  padding: 10px; 
}

#messages { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 85%; 
  overflow-y: scroll;
}

#messages li { 
  padding: 5px 10px; 
}
      
#messages li:nth-child(odd) { 
  background: #eee; 
}

/*======= FOOTER ========*/
footer,
.push {
  height: 80px;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #3b3a30;
  text-align: center;
  background: #b2c2bf;
  border-top: 5px solid #3b3a30;
}

/*======= MEDIA QUERIES ========*/

@media (max-width: 1048px) {

.interests {
  margin-top: 20%;
  width: 100%;
}

button {
    size: 25%;
  }

#profile-img {
    size: 20%;
  }

#name-header{
    font-size:20px;
    font-weight:300;
    margin-bottom: 40px;
  }

}