body{
  background-color: #eaebed;
  font-family: 'Oswald', sans-serif;

  background: -webkit-linear-gradient(bottom, white), #f7f9fb);
  background: -o-linear-gradient(bottom, white, #f7f9fb);
  background: -moz-linear-gradient(bottom, white, #f7f9fb);
  background: linear-gradient(to bottom, rgb(254, 249, 199, .5), #f7f9fb);
}

.member-name{
  color: white;
}

#name-header{
  color:black;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  /*margin: 0 auto 100px;*/
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 60px auto 0px auto;
  clear: both;
}

/* ====================NAVBAR=====================*/

.navbar{
  padding: 40px 0 0 50px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
border: 0px solid black;
  border-radius: 0;

  background: white;
  background: b-wekit-linear-gradient(bottom right, #026670), rgba(255, 255, 255, 1));
background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3);
background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3);
background: linear-gradient(to bottom right, #31708e, #8Fc1e3);
}

#logo {
  position:relative;
  top: -53px;
  width: 120px;
  height: 120px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  border: 1px;
  border-color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

#logo-txt{
  font-weight: 300;
  color: #31708e;
  font-size:60px;
  text-align:center;
  vertical-align:center;
}

#loginButton {
  right: 2%;
  bottom: 0;
}

.member-name{
  font-size:25px;
}

#submit-btn{
  margin: 0 25px 0 5px;
}

#logout-btn{
  color: #3b3a30;
  font-size: 20px;
}

/* ============== User Signup Page ===============*/

#select:invalid {
  color: #C8C8C8;
}

#interest1-input,
#interest3-input{
  width: 49%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

#interest2-input,
#interest4-input{
  float: right;
  width: 49%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

#location-input{
  width: 100%;
  padding: 6px;
  margin-bottom: 5px;
  border-color: #EAEAEA;
  border-radius: 5px;
}

/* ==============User Login Page ==================*/

#login-navbar-header{
  margin-left:70px;
  width:100%;
}

/* ============== User info section ===============*/
#member-info{
  background:#9bb3c6;
  padding: 0 0 30px 20px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
min-height: 385px;
}

#name-header{
  font-size:40px;
  font-weight:500;

}

.member-image{
  width:250px;
  height: 250px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  margin-bottom:20px;
}

#member-well{
  min-height:250px;
}


/* =================FEED AREA======================*/
#feed-container{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
border: 0px solid black;
}

#feed {
  height: 265px;
  overflow: scroll;
  padding:0px;
}

#feed-heading{
  background-color: #9bb3c6 !important; 
  color: white !important;
  text-align:center;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
}

#feed-heading h4{
  color: white !important; 

}

.post{
  color: black
  padding: 0px 0px 4px 0px;
}

.post:nth-child(even) { 
  background-color: #dbdbdb; 
  padding: 0px 0px 4px 0px;
}

.post p{
  padding-top: 0px;
}

.post> *
{
  padding-left: 10px;    
}

#feed-footer{
  background: b-wekit-linear-gradient(bottom right, #026670), rgba(255, 255, 255, 1));
background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3);
background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3);
background: linear-gradient(to bottom right, #31708e, #8Fc1e3)
}

/* ===============INTEREST BUTTONS===================*/

.interests,
.interests button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.interests button {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 40px 85px 50px 85px;
  background: none;
}

.interests button:hover { 
  background: #8Fc1e3; 
}

.interests button:focus { 
  outline: none; 
}

.interests{
  width:100%;

}

/* ========HIDE/SHOW PANEL ========*/

#toggle-panel {
  padding: 20px;
  display: none;
  float:left;
  margin-bottom: 2%;
  background-color:#9bb3c6 !important;
  position:relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
}

#top-headlines{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
    text-align:center;
}

/*======= CHATBOX ======*/


#linkBox{
  font: 13px;
  font-family: Helvetica, Arial;
  padding: 10px;
  height: 300px;

  max-height: 300px;
  display: none;
  margin: 0 0 30px 0;
  background-color: #9bb3c6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
    width:100%;
}

#linkSearchPanel{
  bottom: 0;
}

#linkBoxContainer{
  padding:0;
}

#link-repo{
  font: 13px;
  font-family: Helvetica, Arial;
  padding: 10px;
  margin: 0 0 10px 0;
  max-height: 135px;
  overflow-y: scroll;
}

#link-repoPanel{
  padding: 10px 0px 0px 0px;
}

#link-header{
  text-align:center;  
}

#linkForm{
}

#linkForm input { 
  border: 0; 
  padding: 10px; 
  width: 80%;
}

#linkForm form button { 
  width: 40px; 
  padding: 10px; 
  display:inline-block;
}

#chatBox {
 font: 13px;
 font-family: Helvetica, Arial;
 background: white;
 padding: 10px;
 height: 300px;
 max-height: 290px;
 display: none;
 margin: 0;
border-radius:5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

#chatBox form {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

#chatBox form input { 
  border: 0; 
  padding: 10px; 
  width: 89%;
  border-top:solid 1px #ccc;
}

#chatBox form button { 
  width: 10%; 
  padding: 12px; 
}

#messages { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 85%; 
  overflow-y: scroll;
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

/*======= FOOTER ========*/
footer,
.push {
  height: 60px;
}

footer {

  padding: 20px 0 0 0;
  width: 100%;
  clear: both;
  font-size: 12px;
  color: #3b3a30;
  text-align: center;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
border: 0px solid black;
  background: -webkit-linear-gradient(top left, #687864), rgba(255, 255, 255, 1));
background: -o-linear-gradient(top left, #687864, rgba(255, 255, 255, 1));
background: -moz-linear-gradient(top left, #687864, rgba(255, 255, 255, 1));
background: linear-gradient(to top left, #687864, rgba(255, 255, 255, 1));
}

/*======= MEDIA QUERIES ========*/


/*==========Button Animation==========*/

.flip {
  -webkit-transition:height .25s ease, width .25s ease;
  transition:height .25s ease, width .25s ease;
  
  -webkit-transform:translate(0%,0%);
  transform:translate(0%,0%);
  transition:0.5s
}

.flip:hover{
  backgroud-color: #8Fc1e3;
  color: black;
  transition:0.5s;
}

.flip:before,
.flip:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  border:1px solid #8Fc1e3;
}

.flip:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.flip:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.flip:hover:before,
.flip:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  25% {transform:scale(1.25); opacity:1;}
  50% {transform:scale(1.5); opacity:0;}
}


/* ============About Us Page ============*/